@font-face {
    font-family: 'ClashGroteskSemibold';
    src: url('../fonts/ClashGroteskSemibold.eot');
    src: url('../fonts/ClashGroteskSemibold.eot') format('embedded-opentype'),
         url('../fonts/ClashGroteskSemibold.woff2') format('woff2'),
         url('../fonts/ClashGroteskSemibold.woff') format('woff'),
         url('../fonts/ClashGroteskSemibold.ttf') format('truetype'),
         url('../fonts/ClashGroteskSemibold.svg#ClashGroteskSemibold') format('svg');
}

@font-face {
    font-family: 'TyrosPro';
    /* src: url('../fonts/TyrosPro/TyrosPro-Regular.eot'); */
    src: url('../fonts/TyrosPro/TyrosPro-Regular.woff2') format('woff2'),
        url('../fonts/TyrosPro/TyrosPro-Regular.woff') format('woff'),
        url('../fonts/TyrosPro/TyrosPro-Regular.ttf') format('truetype'),
        url('../fonts/TyrosPro/TyrosPro-Regular.svg#TyrosPro-Regular') format('svg');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadstockSansThin';
    src: url('../fonts/HeadstockSans/HeadstockSansThin.eot');
    src: url('../fonts/HeadstockSans/HeadstockSansThin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HeadstockSans/HeadstockSansThin.woff2') format('woff2'),
        url('../fonts/HeadstockSans/HeadstockSansThin.woff') format('woff'),
        url('../fonts/HeadstockSans/HeadstockSansThin.ttf') format('truetype'),
        url('../fonts/HeadstockSans/HeadstockSansThin.svg#HeadstockSansThin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}